button {
    background: lightblue;
    border: none;
    border-radius: 50%;
    width: 100px;
    height: 100px;

    cursor: pointer;
    font-size: 3em;
    margin: 10px;
}

input {
    text-align: center;
    height: 100px;
    width: 200px;
    font-size: 4em;
    font-weight: bold;
}
.rect {
    display: flex;
    justify-content: center;
}

